:global(.vtex-button) {
  border: none;
  font-weight: 400;
  text-transform: none;
}
:global(.vtex-button):focus, :global(.vtex-button):active {
  outline: none;
}
:global(.vtex-button):active {
  background-color: #da1f28;
}

:global(.vtex-width-100) {
  width: 100%;
  display: block;
}

.logoLink {
  margin: 0;
}

.logoContainer {
  width: auto;
  max-width: 100%;
  padding: 0;
  display: block;
}

.logoImage {
  width: auto;
  max-width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logoImage {
    max-height: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .logoImage {
    width: 100%;
  }
}

.newsletter {
  background-color: white;
}
@media screen and (max-width: 1023px) {
  .newsletter {
    padding-bottom: 1rem;
    border-bottom: 1px solid #2d4b9a;
  }
}
.newsletter .container {
  padding-top: 0px;
  padding-bottom: 0px;
}
.newsletter .form {
  padding-left: 0px;
  padding-right: 0px;
}
.newsletter .label {
  display: block;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .newsletter .label {
    margin-top: 1rem;
  }
}
.newsletter .label::after {
  content: "Recibe notificaciones sobre nuevos productos, ofertas y descuentos";
  display: block;
  margin-top: 1em;
  text-transform: initial;
  font-weight: 500;
  font-size: 14px;
  font-weight: normal;
  color: #3f3f40;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .newsletter .label::after {
    font-size: 16px;
  }
}
.newsletter .buttonContainer {
  padding-left: 0;
}
.newsletter .buttonContainer :global(.vtex-button) {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.backToTopButtonContainer :global(.vtex-button) {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #2d4b9a;
}

.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.autoCompleteOuterContainer--buscador {
  width: 700px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  max-width: 100%;
}

:global(.vtex-flex-layout-0-x-flexRow--bottom-header) .vtex-input-prefix__group {
  border: none;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
}

.newsletter {
  max-width: 1528px;
  margin: 0 auto;
}

.label {
  color: #000;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #000;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  padding: 0 0.5em;
  border: none;
  border-radius: 0 !important;
  background-color: #dbdbdb;
}

:global(.vtex-store-components-3-x-inputGroup) :global(.vtex-button) {
  background-color: #da1f28;
  border: none;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:global(.vtex-store-components-3-x-newsletter) :global(.vtex-input-prefix__group) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:global(.vtex-flex-layout-0-x-flexCol--productos-btn):hover,
:global(.vtex-flex-layout-0-x-flexCol--recibes-btn):hover,
:global(.vtex-flex-layout-0-x-flexCol--entregas-btn):hover {
  border-bottom: 1px solid #da1f28;
  cursor: pointer;
}

:global(.vtex-store-components-3-x-buttonContainer) {
  padding-left: 0;
}

.label {
  font-size: 16px;
  color: #2d4b9a;
}

.infoCardContainer--info-card-home .infoCardTextContainer {
  width: 30%;
}

.infoCardContainer--info-card-home .infoCardImageContainer {
  width: 100%;
}

.imageElement--storePrint {
  margin-bottom: 0px;
  max-height: 600px;
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

:global(.vtex-flex-layout-0-x-flexRow--categories) {
  margin-top: 40px;
  margin-bottom: 40px;
}

:global(.vtex-store-components-3-x-imageElement--catImages) {
  display: block;
  margin: 10px auto;
  opacity: 1;
}

:global(.vtex-store-components-3-x-imageElement--catImages):hover {
  opacity: 0.6;
}

:global(.vtex-rich-text-0-x-paragraph--shelfTitle) {
  margin: 0;
  font-family: "GothamBold";
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  :global(.vtex-rich-text-0-x-paragraph--shelfTitle) {
    font-size: 36px;
  }
}

:global(.vtex-rich-text-0-x-wrapper--sub-text) {
  margin: 0 auto;
}

:global(.vtex-rich-text-0-x-paragraph--sub-text) {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  :global(.vtex-rich-text-0-x-paragraph--sub-text) {
    font-size: 24px;
  }
}

:global(.vtex-slider-layout-0-x-caretIcon--carousel) {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 50%;
}

:global(.vtex-slider-layout-0-x-caretIcon--shelf) {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #2d4b9a;
  color: #2d4b9a;
}

:global(.vtex-flex-layout-0-x-flexRow--full-banner),
:global(.vtex-flex-layout-0-x-flexRow--pair-banner) {
  padding: 0 15px;
}

.imageElement--bannerFull-img,
.imageElement--bannerPair-img1,
.imageElement--bannerPair-img2 {
  width: 100%;
  display: block;
  margin-bottom: 0;
  opacity: 1;
}

.imageElement--bannerFull-img {
  margin-bottom: 15px;
}

:global(.vtex-flex-layout-0-x-flexColChild--pair-banner1) {
  margin-right: 7.5px;
}

:global(.vtex-flex-layout-0-x-flexCol--pair-banner2) {
  margin-left: 7.5px;
}

.imageElement--bannerFull-img:hover,
.imageElement--bannerPair-img1:hover,
.imageElement--bannerPair-img2:hover {
  opacity: 0.6;
}

:global(.vtex-flex-layout-0-x-flexRowContent--categories) :global(.vtex-flex-layout-0-x-flexColChild) {
  margin: 0 10px;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-store-components-3-x-searchBarInnerContainer--buscador-mob) {
    margin: 0 auto;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--pair-banner1) {
    margin-right: 0;
  }

  :global(.vtex-flex-layout-0-x-flexCol--pair-banner2) {
    margin-left: 0;
  }

  :global(.vtex-store-components-3-x-imageElement--catImages) {
    margin: 20px auto;
  }
}
.imageElement--SingleBanner {
  width: 100%;
  display: block;
}

.productBrand--ProductDetailName {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
@media screen and (min-width: 1024px) {
  .productBrand--ProductDetailName {
    font-size: 1.75rem;
  }
}

.productDescriptionContainer .productDescriptionTitle {
  display: none;
}
.productDescriptionContainer .productDescriptionText {
  font-size: 0.9rem;
}



:global(.vtex-store-components-3-x-imageElement),
 :global(.vtex-store-components-3-x-imageElement--bannerPair-img2),
 :global(.vtex-render-runtime-8-x-lazyload){
   height: auto  !important;
}


@media  (max-width: 1145px) {
  /* :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        width: 50% !important;
      } */
      :global(.vtex-store-components-3-x-imageElement),
      :global(.vtex-store-components-3-x-imageElement--suc-img),
      :global(.vtex-render-runtime-8-x-lazyload){
        margin-left: 6%;
      }

}

:global(.vtex-menu-2-x-styledLinkContent--MenuL2G-ByCategory):hover{
  color: #2d4b9a !important;
  font-weight: 500;
}

:global(.vtex-store-components-3-x-imageElement--horarios){
  margin: 10px auto;
  width: 80%;
  display: block;
}

:global(.vtex-flex-layout-0-x-flexRow--rowinst ){
  padding-top: 20px;
  padding-bottom: 20px;
}

:global(.vtex-rich-text-0-x-wrapper--txtpv){
  margin-top:30px;
}

:global(.vtex-omnishipping-1-x-dateLink),
:global(.vtex-omnishipping-1-x-dateLink):hover,
:global(.vtex-omnishipping-1-x-dateLink):active{
  background-color: #DA1F28;
}


:global(.vtex-rich-text-0-x-wrapper--txtinst){
  margin-left: 10%;
  margin-right: 10%;
}

:global(.vtex-rich-text-0-x-wrapper--txtinst),
:global(.vtex-rich-text-0-x-wrapper--titinst){
  margin-top: 25px;
}


:global(.vtex-rich-text-0-x-container--txtinst){
  text-align: justify;
}

:global(.vtex-minicart-2-x-minicartCheckoutButton)
  :global(.vtex-button)
    :global(.vtex-button__label){
      font-size: 0px;
    }

:global(.vtex-minicart-2-x-minicartCheckoutButton)
  :global(.vtex-button)
    :global(.vtex-button__label)::before{
      content: "Finalizar Compra";
      font-size: 16px;
    }


:global(.vtex-my-orders-app-3-x-cancelBtn){
  display: none;
}

