.container--footer-location .paragraph, .container--footer-mail .paragraph, .container--footer-phone .paragraph {
  margin-top: 0;
}

.link--footer-mail {
  text-decoration: none;
  color: #3f3f40;
}

.container--LegalInfo {
  color: #ffffff;
}

.wrapper--LegalInfo {
  margin: 0 auto;
}

.paragraph--LegalInfo {
  font-size: 0.7rem;
  text-align: center !important;
  color: white;
}
@media screen and (min-width: 1024px) {
  .paragraph--LegalInfo {
    font-size: 0.8rem;
  }
}
.paragraph--LegalInfo :global(.vtex-rich-link) {
  text-decoration: none;
  color: inherit;
}
